@media only screen and (min-width: 0rem) {
  #fcta {
    background-color: var(--clr--primary--150);
  }
  #fcta .cs-container {
    align-items: stretch;
  }
  #fcta .cs-container .cs-title {
    margin-block-end: 0;
  }
  #fcta .cs-container .cs-button-solid-accent {
    max-width: 10.25rem;
    align-self: center;
  }
}
@media only screen and (min-width: 0rem) {
  body.dark-mode #fcta .cs-container .slc {
    filter: brightness(0) saturate(100%) invert(54%) sepia(6%) saturate(346%) hue-rotate(163deg) brightness(44%) contrast(88%);
  }
}
