@media only screen and (min-width: 0rem) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  #service-page {
    position: relative;
    z-index: 2;
    z-index: 0;
  }
  #service-page .cs-container {
    max-width: 34.375rem;
    margin-inline: auto;
  }
  #service-page .cs-container .cs-content .cs-title {
    margin-inline: auto;
    text-align: center;
  }
  #service-page .cs-container .cs-content .cs-text {
    margin-block-end: var(--sp--comp--related--gap);
    text-align: center;
    margin-inline: auto;
    margin-bottom: 0;
  }
  #service-page .cs-container .cs-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--sp--cards--gap--medium);
    justify-items: center;
  }
  #service-page .cs-container .cs-cards .cs-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    max-width: 29.5rem;
    height: clamp(32rem, 160vw, 37.5rem);
    overflow: hidden;
    border: 1px solid var(--clr--secondary--300);
  }
  #service-page .cs-container .cs-cards .cs-item .cs-introduction {
    position: relative;
    background: var(--clr--accent--300);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #service-page .cs-container .cs-cards .cs-item .cs-introduction img {
    z-index: 100;
    margin-block: 2rem;
    margin-inline: 2rem;
  }
  #service-page .cs-container .cs-cards .cs-item .cs-introduction .cs-subtitle {
    text-align: center;
    max-width: 17rem;
    margin-inline: 2rem;
    z-index: 100;
  }
  #service-page .cs-container .cs-cards .cs-item .cs-introduction::before {
    content: "";
    width: 100%;
    height: 7.5rem;
    bottom: 0;
    left: 0;
    position: absolute;
    background: var(--clr--primary--150);
  }
  #service-page .cs-container .cs-cards .cs-item .cs-introduction::after {
    content: "";
    width: 100%;
    height: 7.5rem;
    bottom: 0;
    left: 0;
    position: absolute;
    background: var(--clr--accent--300);
    border-bottom-left-radius: clamp(5.5rem, 20.000001vw, 7.5rem);
  }
  #service-page .cs-container .cs-cards .cs-item .cs-paragraph {
    position: relative;
    background: var(--clr--primary--150);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
  }
  #service-page .cs-container .cs-cards .cs-item .cs-paragraph .cs-text {
    max-width: clamp(28rem, 110.000001vw, 25rem);
    padding: 2rem;
    margin-block: auto;
    z-index: 3000000000000;
  }
  #service-page .cs-container .cs-cards .cs-item .cs-paragraph::before {
    content: "";
    width: 100%;
    height: 7.5rem;
    top: 0;
    left: 0;
    position: absolute;
    background: var(--clr--accent--300);
    z-index: 100;
  }
  #service-page .cs-container .cs-cards .cs-item .cs-paragraph::after {
    content: "";
    width: 100%;
    height: 7.5rem;
    top: 0;
    left: 0;
    position: absolute;
    background: var(--clr--primary--150);
    order: 3;
    z-index: 100;
    border-top-right-radius: clamp(5.5rem, 20.000001vw, 7.5rem);
  }
  #service-page .cs-container .cs-cards .cs-item:nth-child(1) .cs-introduction img {
    width: 92px;
    height: 92px;
  }
  #service-page .cs-container .cs-cards .cs-item:nth-child(2) .cs-introduction img {
    width: 129.4px;
    height: 92px;
  }
  #service-page .cs-container .cs-cards .cs-item:nth-child(3) .cs-introduction img {
    width: 92px;
    height: 92px;
  }
  #service-page .cs-container .cs-cards .cs-item:nth-child(4) .cs-introduction img {
    width: 55px;
    height: 92px;
  }
  #service-page .cs-container .cs-cards .cs-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 500;
  }
}
@media only screen and (max-width: 18.75rem) {
  #service-page .cs-container .cs-cards .cs-item {
    height: 100%;
  }
}
/*----768px----*/
@media only screen and (min-width: 48rem) {
  #service-page .cs-container {
    max-width: 80rem;
  }
  #service-page .cs-container .cs-cards {
    max-width: 60rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-inline: auto;
  }
}
