/*
@media only screen and (min-width: 0em) {
  @mixin light-mode-vars {
    --clr--primary--100: hsl(0, 0%, 100%); //ffffff
    --clr--primary--150: hsl(216, 16%, 94%); //#edeff2
    --clr--primary--160: hsl(217, 16%, 90%); //#e2e5ea
    --clr--primary--165: hsl(218, 11%, 86%); //#d8dbe0
    --clr--primary--175: hsl(210, 3%, 75%); //#bec0c2
    --clr--secondary--150: hsl(210, 2%, 54%);
    --clr--secondary--200: hsl(210, 2%, 24%); //#3b3c3d
    --clr--secondary--300: hsl(0, 0%, 0%); //#000000
    --clr--accent--300: hsl(43, 97%, 50%); //#fbb504
    --topper--text--clr: #550202; //hsl(0, 96%, 18%); //#590202
    --body-dark--txt--clr: hsl(215, 56%, 23%); //#1a355b
    --body-light--txt--clr: var(--clr--primary--150);
    --h4-dark--txt--clr: hsl(209, 100%, 33%); //#0056a6
  }
  @mixin dark-mode-vars {
    --clr--dark--primary--100: #011329;
    --clr--dark--primary--150: #021123;
    //--clr--dark--primary--160: hsl(217, 16%, 90%); //
    --clr--dark--primary--165: #022147; //#021326
    --clr--dark--primary--175: hsl(210, 3%, 75%); //#bec0c2
    --clr--dark--secondary--150: hsl(210, 2%, 54%);
    --clr--dark--secondary--200: hsl(210, 2%, 24%); //#3b3c3d
    --clr--dark--secondary--300: hsl(0, 0%, 100%); //#000000
    --clr--dark--accent--300: hsl(43, 97%, 50%); //#fbb504
    --topper--dark--text--clr: hsl(218, 11%, 86%); //#edeff2
    --body-dark--dark--txt--clr: hsl(210, 2%, 54%); //#edeff2
    --body-light--dark--txt--clr: hsl(210, 2%, 54%); //#edeff2;
    --h4-dark--dark--txt--clr: hsl(210, 3%, 75%); //#edeff2

    --clr--primary--100: var(--clr--dark--primary--100);
    --clr--primary--150: var(--clr--dark--primary--150);
    --clr--primary--160: var(--clr--dark--primary--160);
    --clr--primary--165: var(--clr--dark--primary--165);
    --clr--primary--175: var(--clr--dark--primary--175);
    --clr--secondary--150: hsl(210, 2%, 54%);
    --clr--secondary--200: hsl(210, 2%, 24%);
    --clr--secondary--300: var(--clr--dark--secondary--300);
    --clr--accent--300: hsl(43, 97%, 50%);
    --topper--text--clr: var(--topper--dark--text--clr);
    --body-dark--txt--clr: var(--body-dark--dark--txt--clr);
    --body-light--txt--clr: var(--body-light--dark--txt--clr);
    --h4-dark--txt--clr: var(--h4-dark--dark--txt--clr);
    background-color: var(--clr--dark--primary--100);
  }

  // Website colors
  :root {
    @include light-mode-vars;
    .dark-mode {
      @include dark-mode-vars;
    }
  }
}
*/
