/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px dark */
@media only screen and (min-width: 0rem) {
  .light-switch {
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    .light-option {
      text-transform: uppercase;
      color: var(--clr--secondary--300);
      font-weight: var(--fw--800);
    }
    .light-dark-mode {
      appearance: none;
      font-size: 1.5rem;
      width: 3rem;
      min-width: 3rem;
      height: 1.5rem;
      border-radius: 2rem;
      background: var(--clr--secondary--300);
      background-clip: content-box;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        width: 0.66em;
        height: 0.66em;
        position: absolute;
        top: 50%;
        left: 25%;
        translate: -50% -50%;
        background: var(--clr--primary--100);
        background-repeat: no-repeat;
        background-clip: content-box;
        border-radius: 50%;
        transition:
          left 0.35s,
          background 0.35s;
      }
    }
  }
  body.dark-mode {
    .light-dark-mode {
      background: #ffffff;
      &::before {
        left: 75%;
        background: #011329;
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body {
    .cs-open {
      overflow: hidden;
    }
  }
  #cs-navigation {
    z-index: 10000000000;
    position: fixed;
    opacity: 1;
    top: (16/16rem);
    left: 50%;
    border-radius: clamp(0.75rem, 2vw + 0.000001rem, 1.5rem);
    transform: translateX(-50%);
    max-width: 80rem;
    width: 93%;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    background-color: var(--clr--primary--100);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition:
      top 0.3s,
      border-radius 0.3s,
      width 0.3s,
      max-width 0.3s;
    font-family: "Roboto", "Arial", sans-serif;
    .cs-container {
      z-index: 4000000000000000;
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: (20/16rem);
      background-color: var(--clr--primary--100);
      padding-inline: var(--sp--20);
      padding-block: var(--sp--12);
      border-radius: clamp(0.75rem, 2vw, 1.5rem);
      transition: border-radius 0.3s;
      .cs-nav {
        order: 3;
      }
    }
    .cs-logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 0 auto 0 0;
      .cs-logo {
        z-index: 2;
        display: flex;
        justify-content: flex-start;
        height: var(--sp--72);
        max-width: 9.0625rem;
        width: var(--sp--64);
        position: relative; /* prevents padding from affecting height and width */
        box-sizing: border-box;
        #svg {
          height: var(--sp--72);
          width: var(--sp--64);
          margin-left: -4px;
          #path4 {
            fill: var(--clr--accent--300);
          }
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .cs-toggle {
      display: flex;
      z-index: 60000000000;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: (10/16rem);
      margin: 0 0 0 auto;
      background-color: var(--clr--secondary--300);
      height: 3rem;
      width: 3rem;
    }
    .cs-active {
      .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
      }
      .cs-line2 {
        top: 50%;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
        transform-origin: center;
      }
      .cs-line3 {
        bottom: 100%;
        opacity: 0;
      }
    }
    .cs-box {
      z-index: 3000;
      position: relative;
      height: clamp(0.875rem, 1.5vw, 1rem);
      width: clamp(1.5rem, 2vw, 1.75rem);
    }

    .cs-line {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
      background-color: var(--clr--primary--100);
      height: 2px;
      width: 100%;
    }

    .cs-line1 {
      top: 0;
      transition:
        transform 0.5s,
        top 0.3s,
        left 0.3s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;
      transform-origin: center;
    }

    .cs-line2 {
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition:
        top 0.3s,
        left 0.3s,
        transform 0.5s;
      animation-duration: 0.7s;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    .cs-line3 {
      bottom: 0;
      transition:
        bottom 0.3s,
        opacity 0.3s;
    }
    .cs-ul-wrapper {
      position: absolute;
      display: grid;
      grid-template-rows: 0fr;
      top: 95px;
      left: 10px;
      right: 10px;
      border-radius: 0 0 var(--border--radius--md) var(--border--radius--md);
      background-color: var(--clr--primary--100);
      width: auto;
      box-sizing: border-box;
      transition: grid-template-rows 0.4s;
      box-shadow: rgba(149, 157, 165, 0.6) 1px 3px 15px 0px;
      .cs-ul {
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        gap: var(--sp--li-vert-gap);
        overflow: hidden;
        padding: 0;
        transition: padding 0.3s;
        .cs-dropdown {
          .cs-dropdown-button {
            display: flex;
            position: relative;
            text-transform: uppercase;
            margin-inline: auto;
            border: none;
            margin-block-end: 0;
            align-items: center;
            background-color: var(--clr--primary--100);
            gap: var(--sp--icon--md--gap);
            transition: margin-block-end 0.3s;
            .cs-image-container {
              position: relative;
              display: block;
              align-items: end;
              img {
                height: 1.25rem;
                width: 1rem;
              }
              .arrow-down-icon {
                opacity: 1;
                position: absolute;
                transition: opacity 0.3s;
              }
              .arrow-up-icon {
                opacity: 0;
                transition: opacity 0.3s;
              }
            }
          }
          .cs-drop-ul {
            display: grid;
            grid-template-rows: 0fr;
            border-radius: 1em;
            padding: 0;
            background-color: var(--clr--secondary--300);
            transition:
              grid-template-rows 0.3s,
              padding 0.3s;
            .drop-container {
              display: flex;
              flex-direction: column;
              row-gap: var(--sp--li-vert-gap);
              overflow: hidden;
              margin-inline: auto;
              padding: 0;
              margin-block-start: 0rem;
              transition: padding 0.3s;
              .cs-drop-li {
                .cs-drop-link {
                  color: var(--clr--primary--100--constant);
                }
              }
            }
          }
        }
        .cs-service-active {
          .cs-dropdown-button {
            margin-block-end: var(--sp--li-vert-gap);
            .cs-image-container {
              .arrow-down-icon {
                opacity: 0;
              }
              .arrow-up-icon {
                opacity: 1;
              }
            }
          }
          .cs-drop-ul {
            grid-template-rows: 1fr;
            padding: var(--sp--li-vert-gap);
          }
        }
      }
    }

    .cs-li {
      width: 100%;
      list-style: none;
      text-align: center;
      color: var(--clr--secondary--300);
      text-transform: uppercase;
      opacity: 1;
      transition: opacity 0.4s;
    }
    .cs-li-link {
      position: relative;
      display: inline-block;
      margin: 0;
      text-decoration: none;
      font-size: var(--fs--cs-link-mob);
      line-height: 1.2em;
      color: var(--clr--secondary--300);
      font-weight: var(--fw--cs--li--link);
      &:before {
      }
      &:hover {
        cursor: pointer;
        color: var(--clr--accent--300);
        .arrow-down-icon {
          filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
            saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
        }
        .arrow-up-icon {
          filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
            saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
        }
        &:before {
          width: 100%;
          background-color: var(--clr--secondary--300);
        }
      }

      &.cs-active {
        color: var(--clr--accent--300);
        img {
          filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
            saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
        }

        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-solid {
      display: none;
    }
    &.cs-active {
      .cs-ul-wrapper {
        grid-template-rows: 1fr;
        .cs-ul {
          padding: var(--sp--cards--padding);
        }
      }
    }
  }

  body.scroll {
    #cs-navigation {
      top: 0rem;
      border-radius: 0;
      max-width: 100%;
      width: 100%;
      .cs-container {
        border-radius: 0;
      }
    }
  }
}
@media only screen and (max-width: 63.9375rem) {
  body.dark-mode {
    #cs-navigation {
      .cs-nav {
        .cs-toggle {
          background-color: var(--clr--primary--100--constant);
        }
      }
      .light-switch {
        .light-option {
          color: var(--clr--primary--100--constant);
        }
      }
      .cs-dropdown-button {
        .cs-image-container {
          img {
            filter: invert(1);
          }
        }
      }
      .cs-li-link {
        color: var(--clr--primary--100--constant);
        &:hover {
          color: var(--clr--accent--300);
          img {
            filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
              saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
          }
        }
        &.cs-active {
          color: var(--clr--accent--300);
          img {
            filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
              saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
          }
        }
      }
      .cs-drop-ul {
        border: none;
        background-color: #171919 !important;
        border: 1px solid black;
        transition: border 0.3s;
      }
      .cs-service-active {
        .cs-drop-ul {
          background-color: #171919;
          border: 1px solid white;
        }
      }
    }
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: (1024/16rem)) {
  #cs-navigation {
    z-index: 10000;
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr--primary--100);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: clamp(0.75rem, 2vw + 0.00001rem, 1.5rem);
    max-width: 94%;
    width: 90rem;
    transition:
      top 0.3s,
      border-radius 0.3s,
      width 0.3s,
      max-width 0.3s;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 0;

    .cs-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: stretch;
      padding: var(--sp--12) var(--sp--20);
      max-width: (1320/16rem);
      padding-block: 0;
    }
    .cs-toggle {
      display: none;
    }

    .cs-logo-container {
      grid-column: span 2;
      position: relative;
      display: flex;
      align-items: center;
      align-self: center;
      margin-block: 0.5rem;
      .cs-logo {
        box-sizing: border-box;
        display: flex;
        justify-content: start;
        height: var(--sp--72);
        max-width: 9.0625rem;
        width: var(--sp--64);

        #svg {
          height: var(--sp--72);
          width: var(--sp--64);
          margin-left: -4px;
          #path0 {
          }
          #path1 {
          }
          #path2 {
          }
          #path3 {
          }
          #path4 {
          }
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .cs-nav {
      justify-self: center;
      align-self: center;
      grid-column: span 8;
      height: 100%;
    }
    .cs-button-solid {
      grid-column: span 2;
    }
    .light-switch {
      grid-column: span 2;
      justify-self: end;
      .light-option {
        align-self: center;
      }
      #dark-mode-toggle {
        align-self: center;
        justify-self: end;
        padding: 0;
      }
    }
    .cs-ul-wrapper {
      height: 100%;
      .cs-ul {
        position: relative;
      }
      .cs-dropdown {
        .cs-dropdown-button {
          text-transform: uppercase;
          display: flex;
          align-items: center;
          column-gap: var(--sp--icon--md--gap);
          border: none;
          background-color: var(--clr--primary--100);
          .cs-image-container {
            position: relative;
            display: block;
            align-items: end;
            img {
              height: 1.25rem;
              width: 1rem;
            }
            .arrow-down-icon {
              position: absolute;
              //display: block;
              opacity: 1;
              transition: opacity 0.3s;
            }
            .arrow-up-icon {
              opacity: 0;
              transition: opacity 0.3s;
            }
          }
        }
        .cs-drop-ul {
          display: block;
          position: absolute;
          .drop-container {
            display: flex;
            flex-direction: column;
            row-gap: 0;
            margin-block-start: (39/16rem);
            margin-inline-start: (0/16rem);
            padding: 0 var(--sp--li-vert-gap);
            position: absolute;
            min-width: (300/16rem);
            background-color: var(--clr--primary--100);
            box-shadow: rgba(149, 157, 165, 0.6) 1px 3px 15px 0px;
            transition:
              row-gap 0.3s,
              padding 0.3s,
              margin-block-start 0.3s;
            .cs-drop-li {
              display: grid;
              grid-template-rows: 0fr;
              transition: grid-template-rows 0.3s;
              .cs-drop-link {
                overflow: hidden;
              }
            }
          }
        }
      }
      .cs-dropdown:hover {
        .cs-dropdown-button {
          .cs-image-container {
            .arrow-down-icon {
              opacity: 0;
            }
            .arrow-up-icon {
              opacity: 1;
            }
          }
        }
        .cs-drop-ul {
          .drop-container {
            padding: var(--sp--li-vert-gap);
            row-gap: var(--sp--li-vert-gap);
            .cs-drop-li {
              grid-template-rows: 1fr;

              .cs-drop-link {
              }
            }
          }
        }
      }
    }
    .cs-ul {
      display: flex;
      margin: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      gap: var(--sp--li-horiz-gap);
    }
    .cs-li {
      list-style: none;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      height: 100%;
    }

    .cs-li-link {
      position: relative;
      margin: 0;
      text-decoration: none;
      font-size: clamp(0.875rem, 1vw + 00001rem, 1rem);
      line-height: 1.5em;
      color: var(--clr--secondary--300);
      font-weight: 600;
      &:before {
      }
      &:hover {
        color: var(--clr--accent--300);
        img {
          filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
            saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
        }
        &:before {
          width: 100%;
          background-color: var(--clr--secondary--300);
        }
      }
      &.cs-active {
        color: var(--clr--accent--300);
        img {
          filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
            saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
        }
        &:before {
          width: 100%;
        }
      }
    }
  }
  body.scroll {
    #cs-navigation {
      top: 0;
      border-radius: 0;
      max-width: 100%;
      width: 100%;
      position: fixed;
    }
  }
  body.dark-mode {
    #cs-navigation {
      .cs-image-container {
        img {
          filter: invert(1);
        }
      }
      .cs-li-link {
        color: var(--clr--primary--100--constant);
        &:hover {
          color: var(--clr--accent--300);
          img {
            filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
              saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
          }
        }
        &.cs-active {
          color: var(--clr--accent--300);
          img {
            filter: brightness(0) saturate(100%) invert(27%) sepia(45%)
              saturate(1847%) hue-rotate(143deg) brightness(91%) contrast(101%);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: (1024/16rem)) {
  body.dark-mode {
    #cs-navigation {
      .light-switch {
        .light-option {
          color: var(--clr--primary--100--constant);
        }
      }
    }
  }
}
