@media only screen and (min-width: 0rem) {
  #service-overview {
    background-color: var(--clr--primary--150);
    .cs-container {
      .cs-content {
        .cs-title {
        }
        .cs-text {
          margin-inline: auto;
          margin-block: 0;
          text-align: center;
        }
      }
      margin-inline: auto;
      .cs-ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: var(--sp--cards--gap--medium);
        justify-items: center;
        //background-color: yellow;

        .cs-item {
          display: flex;
          flex-direction: column;
          border: 1px solid var(--clr--secondary--300);
          border-radius: var(--sp--24);
          max-width: (472/16rem);

          .cs-subtitle-wrapper {
            display: flex;
            background-color: var(--clr--secondary--300);
            border-top-left-radius: var(--sp--24);
            border-top-right-radius: var(--sp--24);
            align-items: center;
            justify-content: center;

            .cs-subtitle {
              border-top-left-radius: var(--sp--24);
              border-top-right-radius: var(--sp--24);
              color: var(--clr--accent--300);
              padding: var(--sp--cards--gap--large);
              color: var(--clr--primary--100--constant);
              margin: 0;
              text-align: center;
            }
          }
          svg {
            background-color: var(--clr--primary--100);
            width: 100%;
            height: 100%;
            padding: var(--sp--cards--gap--large);
            .short-line {
              fill: orange;
            }
          }
          .seo {
            width: 100%;
            //height: auto;
          }
          .cs-paragraph {
            background-color: var(--clr--secondary--300);
            max-width: 100%;
            color: var(--clr--primary--175--constant);
            padding-inline: var(--sp--cards--gap--large);
            padding-block: var(--sp--cards--gap--large) 2rem;
            border-bottom-left-radius: var(--sp--24);
            border-bottom-right-radius: var(--sp--24);
            text-align: center;
            margin: 0;
            .cs-text {
              text-transform: lowercase;
              color: var(--clr--primary--175);
              margin-block-end: 2rem;
              .first-letter {
                text-transform: capitalize;
              }
            }
            .link-to-service {
              font-weight: var(--fw--800);
              position: relative;
              padding-bottom: 0.5rem;
              text-decoration: none;
              color: var(--clr--primary--100--constant);
              transition: color 0.3s;
              &:before {
                content: "";
                height: 2px;
                display: block;
                left: 0;
                bottom: 0;
                position: absolute;
                background-color: currentColor;
                width: 100%;
                transition: background-color 0.3s;
              }
              &:hover {
                color: var(--clr--accent--300);
                &:before {
                  background-color: var(--clr--accent--300);
                }
              }
            }
          }
        }
      }
    }
  }
}

/*----768px----*/
@media only screen and (min-width: (768/16rem)) {
  #service-overview {
    .cs-container {
      .cs-ul {
        max-width: (960/16rem);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-inline: auto;
        .cs-item {
          .cs-subtitle-wrapper {
            min-height: (112/16rem);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 0) {
  body.dark-mode {
    #service-overview {
      .cs-item {
        border: 1px solid var(--clr--secondary--200) !important ;
      }
    }
  }
}
